/*Color scheme
Slate Blue #0B4866
Orange #EB7725
Deep Red #C6342E
Beige #E0D2B6
Darker shade of beige #A09682*/

body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
}
h3, h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;      
    font-size: 20px;
    color: #111;
}
.container {
    padding: 80px 120px;
}
.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}
.person:hover {
    border-color: #f1f1f1;
}
.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    margin: auto;
}
.carousel-caption h3 {
    color: #fff !important;
}
@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}
.bg-1 { /*Background color for the video section*/
    background: #A09682;
    color: #bdbdbd;
}
.bg-1 h3 {color: #fff;}
.bg-1 p {font-style: italic;}
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#official {
  background: #DBD8D1;
}

.official-logo {
    margin-bottom: 20px;
}

.official-logo a:link {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.official-logo a:hover {
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

.bg-3 {
  background: gray;
}

#enlaces {
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%); /* make photo black and white */
  background-image: url(../images/bg_microphone_40x100.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail p {
    margin-top: 15px;
    color: #555;
}
.btn {
    padding: 10px 20px;
    background-color: #0B4866;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}
.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}

.btn-group {
  white-space: nowrap;
}

.btn {
    float: none;
    display: inline-block;
  }

.modal-header, h4, .close {
    background-color: #0B4866;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}
.modal-header, .modal-body {
    padding: 40px 50px;
}
.nav-tabs li a {
    color: #777;
}

#calendar {
    width: 100%;
    height: 100px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.first-para {
  margin-bottom: 40px;
}

#googleMap {
    width: 100%;
    height: 400px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.brand-logo {
    position: relative;
    left: -12px;
}
.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #0B4866; /*previous color 2d2d30*/
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}

/*.navbar-header .navbar-brand {
    height: 100px;
}*/

.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
    color: #fff !important;
}
.navbar-nav li.active a {
    color: #fff !important;
    background-color: #EB7725 !important;
    height: 75px;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-toggle {
    margin-top: 17px;
}
.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}
.dropdown-menu li a {
    color: #000 !important;
}
.dropdown-menu li a:hover {
    background-color: #EB7725 !important;
}

.user-btn-danger {
    background-color: red;
}

@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding-top: 25px;
  }
}

footer {
    background-color: #A09682;
    color: #f5f5f5;
    padding: 32px;
}
footer a {
    color: #f5f5f5;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}  
.form-control {
    border-radius: 0;
}
textarea {
    resize: none;
}
